body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.2rem;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
select {
  font: inherit
}